@charset "ISO-8859-1";

#container {
	padding: 15px;
  	background-color: beige;
  	width: 900px;
	background-color: beige;
	font-family: Helvetica;
  	
}

#logoutForm{
	float: right;
	border-radius: 3px;
}

#logoutButton{
	border-radius: 3px;
	box-shadow: 1px 1px;
}