@charset "ISO-8859-1";

#container {
	width: 900px;
	padding: 15px;
	background-color: beige;
	font-family: Helvetica;
	
}
input{
	border-radius: 4px;
	
}
h1{
    text-align: center;
}
#header_text{
	text-align: center;
}
