#container {
	padding: 15px;
  	background-color: beige;
  	width: 900px;
	background-color: beige;
	font-family: Helvetica;
  	
}

#logoutForm{
	float: right;
	border-radius: 3px;
}

#logoutButton{
	border-radius: 3px;
	box-shadow: 1px 1px;
}
#statuses{
	width: 350px;
	display: inline-block;
	border: 1px solid black;
	padding: 0px 15px 0px 15px
}
#messages{
	width: 500px;
	display: inline-block;
	border: 1px solid black;
	padding: 0px 15px 0px 15px;
	float: right;
}
.inline {
  display: inline;
}
.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}